.category_icon{
    max-width: 150px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #F57F5B;
    box-shadow: -1px 5px 17px -1px rgba(0,0,0,0.52);
    -webkit-box-shadow: -1px 5px 17px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 5px 17px -1px rgba(0,0,0,0.52);
    cursor: grab;
}

.category_icon:hover{
    background-color: #f16940;
}